
<div class="container"> 
	<a routerLink="/cate-detail/{{cateid}}/addproduct" class="btn btn-success">Thêm sản phẩm</a>
	<a routerLink="/" class="btn btn-primary">Home</a>
	<div class="row">
		

		<div class="card" style="width: 18rem; margin:3%" *ngFor="let pro of product">

			<img [src]="pro.image" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{pro.name}}</h5>
				<p class="text-danger">{{pro.price}} </p>
				<p class="card-text">{{pro.detail}}</p>
				<a routerLink="./edit-product/{{pro.id}}"class="btn btn-primary">Edit</a>
				<button class="btn btn-warning" (click)=removeProduct(pro)>Remove</button>
			</div>
	</div>
</div>
	
